/*------------------ fontlogo-CRAYONETTE DJR------font----- Museo Sans-------
color #498fad azul-----#86b4c8 celeste------#c2dae4 celeste claro----
color #f95f95 rosado---- #fb94b8 rosado CLARO------#FDCADC  rosado pastel
color # f6e050 amarill----#f9ea8a amarillo claro----#fcf5c5 amarillo pastel----------------------*/
/*spacing*/
/*font-family*/
/*font-size*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans&family=Roboto:ital@1&family=Ubuntu&display=swap);
@import url(/scss/misc/_mixins.scss);
h1 {
  font-size: 4em;
  text-align: center;
  background: #ccc;
  background: radial-gradient(#498fad, white);
  margin-top: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

/* importar fuente*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../assets/img/fondo/tan-vintage-paper-texture-35.jpg);
  font-family: 'Ubuntu', sans-serif; }

p {
  font-size: 1.5em;
  text-align: justify; }

.titulo:hover {
  border: outset 3px; }

.idea1, .card-img-top {
  border-radius: 15px;
  border: solid black;
  box-shadow: 10px 5px 5px gray; }

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/*animaciones*/
.helado1 {
  transform: translate(0px);
  animation-name: efecto1;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 1s; }

@keyframes efecto1 {
  0% {
    transform: translate(0px); }
  50% {
    transform: translate(0px, -25px); }
  100% {
    transform: translate(0px, -30px); } }

.helado2 {
  transform: translate(0px);
  animation-name: efecto2;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 5s; }

@keyframes efecto2 {
  0% {
    transform: translate(0px); }
  50% {
    transform: translate(0px, -25px); }
  100% {
    transform: translate(0px, -30px); } }

.helado3 {
  transform: translate(0px);
  animation-name: efecto3;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 10s; }

@keyframes efecto3 {
  0% {
    transform: translate(0px); }
  50% {
    transform: translate(0px, -25px); }
  100% {
    transform: translate(0px, -30px); } }

.helado4 {
  transform: translate(0px);
  animation-name: efecto4;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 15s; }

@keyframes efecto4 {
  0% {
    transform: translate(0px); }
  50% {
    transform: translate(0px, -25px); }
  100% {
    transform: translate(0px, -30px); } }

#heladobajo {
  margin: 8rem; }

/*tablet -*/
/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
@media (max-width: 1200px) {
  .grid {
    justify-items: center;
    display: grid;
    margin: 5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 550px;
    gap: 5px; } }

@media (max-width: 823px) {
  .mision {
    flex-direction: column; }
  .nuevos-artistas {
    flex-direction: column;
    align-items: center; }
  .idea1 {
    width: 400px; }
  .textofargo {
    text-align: center; } }

@media (max-width: 789px) {
  .info {
    flex-direction: column; }
  .mision {
    margin: 5rem; }
  .row {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 575px) {
  .container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px; }
  footer {
    width: 100%; } }

@media (max-width: 550px) {
  .fargo {
    margin: 5rem; }
  .ideablanco {
    margin: 5rem; }
  .estoybien {
    margin: 5rem; } }

.dj {
  display: flex;
  align-items: center;
  margin-bottom: 15rem; }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .dj {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    flex-direction: column; }
  .fotodj {
    width: 100%; } }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .nuevos-artistas {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto; }
    .nuevos-artistas .card:hover {
      filter: brightness(140%); }
    .nuevos-artistas .tarj {
      width: 35rem; }
  .fotoeb {
    width: 100%; } }

/*celular*/
@media (max-width: 400px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; } }

/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
.arthelado {
  margin: 25rem; }

.dj {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15rem;
  border: outset 8px;
  border-left-color: gray;
  border-top-color: violet;
  border-right-color: gray;
  border-bottom-color: yellow; }

.casata {
  filter: grayscale(25%); }

.dj__foto {
  width: 45%; }

.dj__texto {
  margin: 5rem; }

.dj__disco {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem; }

.eb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: outset 8px;
  border-left-color: gold;
  border-top-color: black;
  border-right-color: white;
  border-bottom-color: gray;
  margin-bottom: 5rem; }

.eb__foto {
  width: 45%; }

.eb__texto {
  margin: 5rem; }

.eb__disco {
  display: flex;
  justify-content: space-around; }

.eb__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15rem; }

.ff {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: outset 8px;
  border-left-color: gold;
  border-top-color: black;
  border-right-color: white;
  border-bottom-color: gray;
  margin-bottom: 5rem; }

.ff__foto {
  width: 45%; }

.ff__texto {
  margin: 5rem; }

.ff__disco {
  display: flex;
  justify-content: space-around; }

.id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: outset 8px;
  border-left-color: gold;
  border-top-color: black;
  border-right-color: white;
  border-bottom-color: gray;
  margin-bottom: 5rem; }

.id__foto {
  width: 45%; }

.id__texto {
  margin: 5rem; }

.id__disco {
  display: flex;
  justify-content: space-around; }

.op {
  filter: brightness(75%); }

.op:hover {
  filter: brightness(100%); }

.disco {
  text-align: center; }

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lista__foto {
  width: 50%; }

.grillaartistas {
  width: 100%; }

.nav-item {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  margin-bottom: 5rem;
  margin: 1rem; }
  .nav-item.nav-item:hover {
    border: outset 3px;
    border-radius: 5px;
    filter: brightness(100%); }
  .nav-item .nav-link:hover {
    filter: brightness(200%); }

ul {
  margin-top: 2rem; }

a:hover {
  filter: brightness(200%); }

.header__logo:hover {
  filter: brightness(150%); }

.header__logo {
  width: 100px;
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 1rem; }

.navbar {
  display: flex;
  transition: all 0.5s ease; }

/* .header{margin-left: 13rem;
    margin-right: 20rem;
    margin-top: 5rem;
}*/
.header {
  width: 100%;
  height: 25vh;
  background-image: url(../../assets/img/fondo/tan-vintage-paper-texture-35.jpg);
  background-position: cover;
  background-position: center; }

.header__nav {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  position: fixed;
  z-index: 3; }

.nav-item {
  transition: all 0.5s ease; }

.scroll {
  height: 100px; }

.header__nav.active {
  padding: 15px;
  background-color: black; }

.header__nav.active.nav-link {
  color: white;
  z-index: 3; }

.header .nav-link {
  color: black; }

.active .nav-link {
  color: white; }

.active .nav-link:hover {
  color: aquamarine; }

/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
main {
  margin: 10rem; }

.fargo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .fargo .poster {
    width: 600px; }
  .fargo .textofargo {
    text-align: justify center;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    font-weight: bold; }
  .fargo .textofargo2 {
    text-align: justify;
    margin-top: 1rem; }

.ideablanco {
  margin: 15rem; }
  .ideablanco.textoi {
    font-weight: bold;
    margin-bottom: 2rem; }
  .ideablanco .textoi2 {
    text-align: justify;
    margin-bottom: 2rem; }
  .ideablanco .ideatext {
    font-weight: bold; }
  .ideablanco .fotoidea {
    width: 400px; }

.estoybien {
  display: flex;
  margin: 15rem;
  flex-direction: column;
  align-items: center; }
  .estoybien.estoytext {
    font-weight: bold; }
  .estoybien .estoytext2 {
    text-align: justify; }
  .estoybien .fotoestoybien {
    width: 540px; }

form {
  font-size: 2.6em;
  align-items: stretch;
  display: flex;
  flex-direction: column; }

fieldset {
  flex-direction: column;
  align-items: stretch;
  margin: auto; }

.equipo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.mision {
  margin: 15rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center; }
  .mision.textolog {
    font-size: 1.5em; }

.mision__logo {
  width: 500px; }

/*tablet -*/
/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
@media (max-width: 1200px) {
  .grid {
    justify-items: center;
    display: grid;
    margin: 5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 550px;
    gap: 5px; } }

@media (max-width: 823px) {
  .mision {
    flex-direction: column; }
  .nuevos-artistas {
    flex-direction: column;
    align-items: center; }
  .idea1 {
    width: 400px; }
  .textofargo {
    text-align: center; } }

@media (max-width: 789px) {
  .info {
    flex-direction: column; }
  .mision {
    margin: 5rem; }
  .row {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 575px) {
  .container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px; }
  footer {
    width: 100%; } }

@media (max-width: 550px) {
  .fargo {
    margin: 5rem; }
  .ideablanco {
    margin: 5rem; }
  .estoybien {
    margin: 5rem; } }

.dj {
  display: flex;
  align-items: center;
  margin-bottom: 15rem; }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .dj {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    flex-direction: column; }
  .fotodj {
    width: 100%; } }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .nuevos-artistas {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto; }
    .nuevos-artistas .card:hover {
      filter: brightness(140%); }
    .nuevos-artistas .tarj {
      width: 35rem; }
  .fotoeb {
    width: 100%; } }

/*celular*/
@media (max-width: 400px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; } }

.nuevosartistas {
  margin: 5rem; }

.navflex {
  display: flex; }

.d-block {
  width: 100%;
  height: 900px;
  filter: brightness(65%); }

.d-block:hover {
  filter: brightness(100%); }

.contenedorform {
  width: 100%;
  height: 600px; }

.info {
  display: flex;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.idea1 {
  width: 600px; }

.nuevos-artistas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 15rem; }
  .nuevos-artistas .card:hover {
    filter: brightness(140%); }

.titulo:hover {
  border: outset 3px; }

.video1 {
  display: flex;
  flex-direction: column; }
  .video1.video1__text {
    font-size: 5em;
    text-align: center; }

.textoi {
  margin-left: 1rem; }

section article {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.banda2 {
  flex-direction: row-reverse; }

.ebnew {
  flex-direction: row-reverse; }

.container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px; }

.ig {
  width: 100%;
  border-radius: 5px; }

.amarillo {
  margin-top: 12%;
  filter: grayscale(50%);
  border-radius: 20px;
  z-index: 1; }

.amarillo:hover {
  filter: grayscale(0%) brightness(120%); }

.mas {
  display: flex;
  justify-content: center;
  margin-top: 15rem; }

.infotitulo {
  font-size: 3em; }

.boton {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn {
  font-size: 1.9em;
  margin-bottom: 15rem; }

/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
/*tablet -*/
/*encapsular codigo para ahorrar*/
/* hacer un mixin para titulos*/
/* se utiliza con un @include en el scss master? y el nombre del mixin ej @include flex(row,justify,center)... si de casualidad no quieres dar un atributo

a una clase poner none ej mixin($none,justify,center)*/
@media (max-width: 1200px) {
  .grid {
    justify-items: center;
    display: grid;
    margin: 5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 550px;
    gap: 5px; } }

@media (max-width: 823px) {
  .mision {
    flex-direction: column; }
  .nuevos-artistas {
    flex-direction: column;
    align-items: center; }
  .idea1 {
    width: 400px; }
  .textofargo {
    text-align: center; } }

@media (max-width: 789px) {
  .info {
    flex-direction: column; }
  .mision {
    margin: 5rem; }
  .row {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 575px) {
  .container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px; }
  footer {
    width: 100%; } }

@media (max-width: 550px) {
  .fargo {
    margin: 5rem; }
  .ideablanco {
    margin: 5rem; }
  .estoybien {
    margin: 5rem; } }

.dj {
  display: flex;
  align-items: center;
  margin-bottom: 15rem; }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .dj {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    flex-direction: column; }
  .fotodj {
    width: 100%; } }

/*celular*/
@media (max-width: 480px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; }
  .nuevos-artistas {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto; }
    .nuevos-artistas .card:hover {
      filter: brightness(140%); }
    .nuevos-artistas .tarj {
      width: 35rem; }
  .fotoeb {
    width: 100%; } }

/*celular*/
@media (max-width: 400px) {
  .nov {
    justify-content: center;
    flex-direction: column; }
  ul {
    flex-direction: column; } }
