
@mixin flex($direction,$justify,$align){
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
}



@mixin border($colorl,$colortop,$colorr,$colorbu){
border-left-color:$colorl ;
border-top-color:$colortop;
border-right-color:$colorr;
border-bottom-color:$colorbu;


}


