/* importar fuente*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans&family=Roboto:ital@1&family=Ubuntu&display=swap);


/*Reset-*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*General-*/
html {
    font-size: 62.5%;

}

main{margin: 1rem};

body {
    background-image: url(../assets/img/fondo/tan-vintage-paper-texture-35.jpg);

}
/*Titulo-*/
h1 {
    font-family: $font-titulo;
    font-size: 5em;
    text-align: center;
    background: #ccc;
    background: radial-gradient($color-primary, white);
    margin-top: 9rem;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    &:hover {
       
        background: radial-gradient($color-hovertitulo, $color-alternative);
      

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;




    }
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: $size-sub;
    
}



/*Parrafo-*/

p {
    font-family: $font-principal;
    font-size: $size-parrafo;
    text-align: justify;

}


/*Bordes-*/
%borde {
    border-radius: 15px;
    border: solid black;
    box-shadow: 10px 5px 5px gray;
}



/*animaciones*/
.helado1 {
    transform: translate(0px);
    animation-name: efecto1;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 1s;


}

@keyframes efecto1 {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, -25px);
    }

    100% {
        transform: translate(0px, -30px);
    }
}


.helado2 {
    transform: translate(0px);
    animation-name: efecto2;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 5s;
}

@keyframes efecto2 {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, -25px);
    }

    100% {
        transform: translate(0px, -30px);
    }
}


.helado3 {
    transform: translate(0px);
    animation-name: efecto3;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 10s;
}

@keyframes efecto3 {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, -25px);
    }

    100% {
        transform: translate(0px, -30px);
    }
}



.helado4 {
    transform: translate(0px);
    animation-name: efecto4;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 15s;
}



@keyframes efecto4 {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, -25px);
    }

    100% {
        transform: translate(0px, -30px);
    }
}



