/* importar fuente*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans&family=Roboto:ital@1&family=Ubuntu&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}








body {
    background-image: url(../assets/img/fondo/tan-vintage-paper-texture-35.jpg);
    font-family: 'Ubuntu', sans-serif
}

h1{ font-size: 4em; text-align: center; 
    background: #ccc ;
    background :radial-gradient($color-primary,white) ;
  margin-top: 8rem;
    
    -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;   
 }





p {
    font-size: 1.5em;
    text-align:  justify;
    
}

.titulo:hover {
    border: outset 3px;
}

%borde {
    border-radius: 15px;
    border: solid black;
    box-shadow: 10px 5px 5px gray;
}

.idea1 {
    @extend %borde
}

.card-img-top {
    @extend %borde
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*animaciones*/
.helado1 {
    transform: translate(0px);
    animation-name: efecto1;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
@keyframes efecto1 {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(0px, -25px);
    }

    100% {
        transform: translate(0px, -30px);
    }
}


    .helado2 {
        transform: translate(0px);
        animation-name: efecto2;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 5s;
    }

    @keyframes efecto2 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(0px, -25px);
        }

        100% {
            transform: translate(0px, -30px);
        }
    }


    .helado3 {
        transform: translate(0px);
        animation-name: efecto3;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 10s;
    }
    @keyframes efecto3 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(0px, -25px);
        }

        100% {
            transform: translate(0px, -30px);
        }
    }



    .helado4 {
        transform: translate(0px);
        animation-name: efecto4;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 15s;
    }



    @keyframes efecto4 {
        0% {
            transform: translate(0px);
        }

        50% {
            transform: translate(0px, -25px);
        }

        100% {
            transform: translate(0px, -30px);
        }
    }

    


    #heladobajo {
        margin: 8rem;
    }







