/* importar fuente*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans&family=Roboto:ital@1&family=Ubuntu&display=swap);


*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


html{
    font-size: 62.5%;
}


body {
    background-image: url(../assets/img/fondo/tan-vintage-paper-texture-35.jpg);
    font-family: 'Ubuntu', sans-serif
}
    
p {
    font-size: 1.7em;
}

