
/*------------------ fontlogo-CRAYONETTE DJR------font----- Museo Sans-------
color #498fad azul-----#86b4c8 celeste------#c2dae4 celeste claro----
color #f95f95 rosado---- #fb94b8 rosado CLARO------#FDCADC  rosado pastel
color # f6e050 amarill----#f9ea8a amarillo claro----#fcf5c5 amarillo pastel----------------------*/


$color-primary:#498fad ;
$color-alternative:#86b4c8;

/*spacing*/ 



/*font-family*/

$font-principal:'Ubuntu', sans-serif;



/*font-size*/
$font-titulo: 2em; 


h1{ font-size: 4em; text-align: center; 
    background: #ccc ;
    background :radial-gradient($color-primary,white) ;
  margin-top: 8rem;
    
    -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;   
 }



 