/*variables-*/

$color-primary:#498fad;
$color-alternative:#86b4c8;
$color-hovertitulo:#FDCADC;



/*font-family*/

$font-principal:'Ubuntu',
sans-serif;
$font-titulo: 'Montserrat',
sans-serif;



/*font-size*/
$size-titulo: 5em;
$size-sub:2em;
$size-parrafo: 1.5em;