.nav-item {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-bottom: 5rem;
    margin: 1rem;
    &.nav-item:hover {
        border: outset 3px;
        border-radius: 5px;
        filter: brightness(100%);
    }
    
    .nav-link:hover {
        filter: brightness(200%);
    }

    ;
}
ul{margin-top: 2rem;}

a:hover {
    filter: brightness(200%);
}
.header__logo:hover {
    filter: brightness(150%);
}



.header__logo{width: 100px;
margin-right: auto;
margin-left: 2rem;
margin-top: 1rem;

}

.navbar{display: flex;
transition: all 0.5s ease;



}

.nav-link{font-size: 15px}


/* .header{margin-left: 13rem;
    margin-right: 20rem;
    margin-top: 5rem;
}*/


.header{
    width: 100%;
    height: 25vh;

    background-image: url(../../assets/img/fondo/tan-vintage-paper-texture-35.jpg);
    background-position: cover;
    background-position: center;

}

.header__nav{

width: 100%;

align-items: center;
display: flex;
justify-content: space-between;
padding: 25px;
position: fixed;
z-index: 3;

}


.nav-item{transition: all 0.5s ease;}


.scroll{height: 100px; }

.header__nav.active{
padding: 15px;
background-color: black;}
.header__nav.active.nav-link{color: white;
z-index:3;
}

.header

.nav-link{color: black;}

.active .nav-link{color: white;}
.active .nav-link:hover {color:aquamarine;}