.nav-item {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-bottom: 5rem;
    margin: 1rem;
    &.nav-item:hover {
        border: outset 3px;
        border-radius: 5px;
        filter: brightness(100%);
    }
    
    .nav-link:hover {
        filter: brightness(200%);
    }

    ;
}
ul{margin-top: 2rem;}

a:hover {
    filter: brightness(200%);
}
.imagenlog:hover {
    filter: brightness(150%);
}



.img-logo{width: 150px;
margin-right: auto;
margin-left: 2rem;
margin-top: 1rem;

}

.navbar{display: flex;}
.header{display: flex; }