
/*Formulario*/

.formulario__item {
    margin:10rem;
    font-size: 2.6em;
    display: flex;
    flex-direction: column;

    
     margin-bottom: 15rem; border: outset 8px ;
    @include border(gray,black, white, black);
    
    
   





}

.gradient{ background: linear-gradient(#FDCADC 25% , #c2dae4 25% ,#498fad 75%) ;
background-repeat: repeat;
padding:2rem





}

.enviar{background-color:gray
    ;
    border: outset 15px;
    

    ;
&:hover{
    
    border: outset 10px;
    background-color: #FDCADC;
}
}