form {
    margin:10rem;
    font-size: 2.6em;
    display: flex;
    flex-direction: column;

    
     margin-bottom: 15rem; border: outset 8px ;
    @include border(gray,violet, gray, gold);
    
    
   





}

fieldset {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}
