

@import"../misc/mediaquery";
@import '../misc/mixins';




    .arthelado{margin: 25rem;}




.dj{    @include flex(row-reverse, space-evenly, center) ;
    margin-bottom: 15rem; border: outset 8px ;
@include border(gray,violet, gray, yellow);


}


    .casata{filter: grayscale(25%);}




.dj__foto{width: 45%;}

.dj__texto{
margin: 5rem;
}

.dj__disco{display: flex ;

justify-content: center;

margin-bottom: 15rem;
}






.eb{@include flex(row,center,center);
    border: outset 8px ;
    @include border(gold,black,white,gray);
    
    margin-bottom: 5rem ;}

.eb__foto{width: 45%;}

.eb__texto{
margin: 5rem;
}


.eb__disco{display: flex; 
    justify-content: space-around;
}
    

.eb__redes{@include flex(row,center,center);
margin: 15rem; }

.op {
    filter: brightness(75%);

}

.op:hover {
    filter: brightness(100%);
}

.disco{text-align: center;}


.grillaartistas{width: 100%;}