

@import"../misc/mediaquery";


main{ margin:15rem;}


.grid {

    display: grid;




    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 550px;
    gap: 5px;

    }



.dj{display: flex;
    align-items: center;
    margin-bottom: 15rem;
}
.fotodj{width: 45%;}

.textodj{
margin: 5rem;
}

.disco_dj{display: flex ;

justify-content: center;

margin-bottom: 15rem;
}




.disco_eb{display: flex; 
justify-content: space-around;
background-color: black;}


.eb{display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
}
.fotoeb{width: 45%;}

.textoeb{
margin: 5rem;
}




.op {
    filter: brightness(75%);

}

.op:hover {
    filter: brightness(100%);
}

.disco{text-align: center;}