@import '../misc/mixins';


.fargo {
    @include flex (column, none, center);
    margin: 5rem;

    & .fargo__img {
        width: 500px
    }
    & .fargo__texto1 {
        text-align: justify;
    
    
        margin: 1rem;
    }
    
    & .fargo__texto2 {
        text-align: justify;
    
        margin-left: 15rem;
        margin-right: 15rem;
    
    }}

///hacer variable aca de todos los post///


.ideablanco {
    @include flex (column, none, center);
    margin: 5rem;

    & .ideablanco__img {
        width: 500px
    }
    
    & .ideablanco__texto1 {
        text-align: justify;
    
    
        margin: 1rem;
    }
    
    & .ideablanco__texto2 {
        text-align: justify;
    
        margin-left: 15rem;
        margin-right: 15rem;
    
    }}




.estoybien {
    @include flex (column, none, center);
    margin: 5rem;


    
& .estoybien__img {
    width: 500px
}

& .estoybien__texto1 {
    text-align: justify;


    margin: 1rem;
}

& .estoybien__texto2 {
    text-align: justify;

    margin-left: 15rem;
    margin-right: 15rem;

}}


.lista {
    @include flex (column, none, center);
    margin: 5rem;

    & .lista__img {
        width: 500px
    }
    
    & .lista__texto1 {
        text-align: justify;
    
    
        margin: 1rem;
    }
    
    & .lista__texto2 {
        text-align: justify;
    
        margin-left: 15rem;
        margin-right: 15rem;
    
    }}


.lista {
    @include flex(column, center, center);

.lista__foto {
    width: 40%;
}
    
}
